{% extends 'base.html' %}

{% load static %}



{% block message %}
{% if Success == True%}
<div class="alert alert-success" role="alert">
    Фідбек відправлений!
</div>
{% elif Success == False%}
<div class="alert alert-danger" role="alert">
    Фідбек не відправлений. Спробуйте ще раз!
</div>
{% endif%}
{% endblock message %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <h2 class="mb-5">Заповни форму. <br> Це легко.</h2>

                <form class="requires-validation" method="post" action="{% url 'send' %}" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group" >
                            {{form.text}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{form.project}}
                        </div>
                        <div class="col-md-6 form-group">
                            {{form.employee}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            {{form.email}}
                            <div id="emailHelp" class="form-text">* вкажи пошту, щоб отримати відповідь, ми гарантуємо
                                анонімність
                            </div>
                        </div>
                    </div>
                    <select class="star-rating" name="rating">
                        <option value="">Select a rating</option>
                        <option value="5">Excellent</option>
                        <option value="4">Very Good</option>
                        <option value="3">Average</option>
                        <option value="2">Poor</option>
                        <option value="1">Terrible</option>
                    </select>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-outline-primary rounded-5 py-2 px-4">
                            <span class="submitting"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4 ml-auto">
                <h3 class="mb-4">Давай все обговоримо.</h3>
                <p>AFS — це безпечна система анонімного зворотнього зв'язку, яка дає людям можливість поділитися своїми найкращими ідеями.</p>
                <p><a href="#">Read more</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


